* {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: black;
    text-align: center;
    line-height: 1.5;
}

.judul {
    background-color: cyan;
}

.pembukaan {
    background-color: blue;
    color: white;
}

p {
    text-align: justify;
    padding: 0 81px;
    line-height: 1.5;
}

.kotak {
    border: 1px solid red;
    padding: 5px;
    margin-left: 81px;
    margin-right: 81px;
}

.hijau {
    background-color: #00ff00;
}

.kuning {
    background-color: yellow;
}

.biru {
    color: blue;
}

.garis-bawah {
    text-decoration: underline;
    font-style: italic;
}

.link {
    color: darkblue;
    font-weight: bold;
}

.link:hover {
    color: red;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

table {
    width: calc(100% - 162px);
    border-collapse: collapse;
    margin: 0 auto;
}

table td {
    border: 1px solid black;
    padding: 10px 15px;
    color: red;
    font-weight: bold;
}

.pancasila {
    line-height: 1.5;
    padding: 0 92px;
    font-style: italic;
    font-weight: bold;
}

li {
    list-style-position: inside;
    background-color: yellow;
    width: fit-content;
}

li span{
    text-decoration: underline;
}
